<a href="https://colab.research.google.com/github/hristo-mavrodiev/Weather_webscrape_data/blob/master/Freemeteo_scraping_hourly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup as soup 
from time import sleep

In [0]:
year = '2019'
month = '08'
day = '31'
#The 'City' and 'Country' and 'Station ID' are hardcoded, contained by the URL string
#Currently the script is working with manually copy-paste and modify the URL string

def london_weather(date):
    """Function to webscrape one day from freemeteo.bg at London station.
    Input: 'year-month-day' -- 2019-01-01
    Output: pandas dataframe
    
    """
    
    
    url = F"https://freemeteo.bg/weather/london/history/daily-history/?gid=2643743&station=1618&date={date}&language=english&country=united-kingdom"
    res =  requests.get(url,headers={"User-Agent":"Mozilla/5.0"})
    soup1 = soup(res.text, "lxml")
    #soup1
    columns = ['datetime','t1','t2','wind_dir','hum','dew','pressure','icon','other']
    df=pd.DataFrame(columns=columns)
    for row in soup1.findAll("tr"):
        cells = row.findAll("td")
        row = []
        if len(cells) ==10:
            time = cells[0].find(text=True)
            t1 = cells[1].find(text=True)
            t2 = cells[2].find(text=True)
            wind_dir = cells[3].text
            wind_gust = cells[4].find(text=True)
            hum = cells[5].find(text=True)
            dew = cells[6].find(text=True)
            pressure = cells[7].find(text=True)
            icon = cells[8].span.attrs['data-icon']
            date = f'{date}T{time}'
            other = cells[9].find('span', "details").text
            #print(cells)
            #print (date,t1,t2,wind_dir,wind_gust,hum,dew,pressure,icon,other)
            row.append([date,t1,t2,wind_dir,hum,dew,pressure,icon,other])
            row = pd.DataFrame(row, columns=columns)
            df = df.append(row, ignore_index=True)
 
    df.datetime = pd.to_datetime(df.datetime)
    return df

In [11]:
london_weather('2019-01-01')

              datetime  ...                                              other
0  2019-01-01 00:20:00  ...                                   Cloudy at 700m
1  2019-01-01 00:50:00  ...                                   Cloudy at 670m
2  2019-01-01 01:20:00  ...                                   Cloudy at 700m
3  2019-01-01 01:50:00  ...            Broken Clouds at 700m, Cloudy at 980m
4  2019-01-01 02:20:00  ...                                   Cloudy at 700m
5  2019-01-01 02:50:00  ...                                   Cloudy at 730m
6  2019-01-01 03:20:00  ...                                   Cloudy at 760m
7  2019-01-01 03:50:00  ...                                   Cloudy at 760m
8  2019-01-01 04:20:00  ...                            Broken Clouds at 760m
9  2019-01-01 04:50:00  ...                            Broken Clouds at 790m
10 2019-01-01 05:20:00  ...
11 2019-01-01 06:50:00  ...                            Broken Clouds at 760m
12 2019-01-01 07:20:00  ...           Broken Clouds at 730m, Cloudy at 1100m
13 2019-01-01 07:50:00  ...           Broken Clouds at 670m, Cloudy at 1100m
14 2019-01-01 08:20:00  ...                                   Cloudy at 610m
15 2019-01-01 08:50:00  ...                                   Cloudy at 640m
16 2019-01-01 09:20:00  ...                                   Cloudy at 640m
17 2019-01-01 09:50:00  ...        Scattered Clouds at 850m, Cloudy at 1100m
18 2019-01-01 10:20:00  ...                                  Cloudy at 1100m
19 2019-01-01 10:50:00  ...                                  Cloudy at 1200m
20 2019-01-01 11:20:00  ...              Few Clouds at 580m, Cloudy at 1200m
21 2019-01-01 11:50:00  ...           Broken Clouds at 580m, Cloudy at 1200m
22 2019-01-01 12:20:00  ...              Few Clouds at 580m, Cloudy at 1300m
23 2019-01-01 12:50:00  ...                                  Cloudy at 1300m
24 2019-01-01 13:20:00  ...                           Broken Clouds at 1400m
25 2019-01-01 13:50:00  ...                           Broken Clouds at 1300m
26 2019-01-01 14:20:00  ...                           Broken Clouds at 1200m
27 2019-01-01 14:50:00  ...       Few Clouds at 610m, Broken Clouds at 1300m
28 2019-01-01 15:20:00  ...                               Few Clouds at 610m
29 2019-01-01 15:50:00  ...
30 2019-01-01 16:20:00  ...   Few Clouds at 670m, Scattered Clouds at 820m,...
31 2019-01-01 16:50:00  ...   Few Clouds at 640m, Broken Clouds at 1000m, B...
32 2019-01-01 17:20:00  ...             Few Clouds at 1100m, Cloudy at 1400m
33 2019-01-01 17:50:00  ...                                  Cloudy at 1400m
34 2019-01-01 18:20:00  ...                                  Cloudy at 1400m
35 2019-01-01 18:50:00  ...                                  Cloudy at 1200m
36 2019-01-01 19:20:00  ...                           Broken Clouds at 1300m
37 2019-01-01 19:50:00  ...                              Few Clouds at 1400m
38 2019-01-01 20:20:00  ...                           Broken Clouds at 1200m
39 2019-01-01 20:50:00  ...                           Broken Clouds at 1300m
40 2019-01-01 21:20:00  ...                                  Cloudy at 1300m
41 2019-01-01 21:50:00  ...                           Broken Clouds at 1300m
42 2019-01-01 22:20:00  ...                              Few Clouds at 1400m
43 2019-01-01 22:50:00  ...                        Scattered Clouds at 1300m
44 2019-01-01 23:20:00  ...
45 2019-01-01 23:50:00  ...                           Broken Clouds at 1300m

[46 rows x 9 columns]

In [0]:
def cleaning(df):
    """Function to clean webscraped data"""
    df.t1 = df.t1.str.replace('°C','')
    df.t2 = df.t2.str.replace('°C','')
    df.dew = df.dew.str.replace('°C','')
    df.hum = df.hum.str.replace('%','')
    df.pressure = df.pressure.str.replace('mb','')
    df.wind_dir = df.wind_dir.str.replace('Variable at ','NaN°')
    df[["wind_dir_deg",'wind_speed']] = df['wind_dir'].str.split("°",expand = True)
    df.wind_speed = df['wind_speed'].str.split(" ",expand = True)[0]
    df = df.drop(['wind_dir'],axis=1)
    return df[['datetime','t1','t2','hum','dew','pressure','icon','wind_dir_deg','wind_speed','other']]

In [13]:
cleaning(london_weather('2016-04-09'))

              datetime  ...                                              other
0  2016-04-09 00:20:00  ...
1  2016-04-09 00:50:00  ...
2  2016-04-09 01:20:00  ...
3  2016-04-09 01:50:00  ...
4  2016-04-09 02:20:00  ...
5  2016-04-09 02:50:00  ...    Few Clouds at 430m, Scattered Clouds at 1200m
6  2016-04-09 03:20:00  ...   Broken Clouds at 910m, Cloudy at 1400m Light ...
7  2016-04-09 03:50:00  ...   Few Clouds at 550m, Broken Clouds at 1100m Rain
8  2016-04-09 04:20:00  ...                  Cloudy at 910m Light Rain Shower
9  2016-04-09 04:50:00  ...   Few Clouds at 430m, Broken Clouds at 910m Lig...
10 2016-04-09 05:20:00  ...   Few Clouds at 370m, Scattered Clouds at 910m,...
11 2016-04-09 05:50:00  ...     Broken Clouds at 300m, Broken Clouds at 490m
12 2016-04-09 06:20:00  ...        Scattered Clouds at 300m, Cloudy at 1100m
13 2016-04-09 06:50:00  ...       Few Clouds at 300m, Broken Clouds at 1100m
14 2016-04-09 07:20:00  ...   Few Clouds at 300m, Scattered Clouds at 910m,...
15 2016-04-09 07:50:00  ...   Few Clouds at 300m, Scattered Clouds at 790m,...
16 2016-04-09 08:20:00  ...   Few Clouds at 180m, Scattered Clouds at 300m,...
17 2016-04-09 08:50:00  ...   Few Clouds at 270m, Broken Clouds at 610m Lig...
18 2016-04-09 09:20:00  ...        Few Clouds at 150m, Broken Clouds at 610m
19 2016-04-09 09:50:00  ...        Few Clouds at 370m, Broken Clouds at 670m
20 2016-04-09 10:20:00  ...        Few Clouds at 370m, Broken Clouds at 790m
21 2016-04-09 10:50:00  ...        Few Clouds at 430m, Broken Clouds at 910m
22 2016-04-09 11:20:00  ...       Few Clouds at 670m, Broken Clouds at 1400m
23 2016-04-09 11:50:00  ...                              Few Clouds at 1400m
24 2016-04-09 12:20:00  ...                               Few Clouds at 910m
25 2016-04-09 12:50:00  ...                               Few Clouds at 910m
26 2016-04-09 13:20:00  ...                        Scattered Clouds at 1400m
27 2016-04-09 13:50:00  ...
28 2016-04-09 14:20:00  ...                        Scattered Clouds at 1400m
29 2016-04-09 14:50:00  ...                           Broken Clouds at 1100m
30 2016-04-09 15:20:00  ...                        Scattered Clouds at 1400m
31 2016-04-09 15:50:00  ...                              Few Clouds at 1100m
32 2016-04-09 16:20:00  ...                        Scattered Clouds at 1100m
33 2016-04-09 16:50:00  ...
34 2016-04-09 17:20:00  ...
35 2016-04-09 17:50:00  ...   Few Clouds at 490m, Scattered Clouds at 850m ...
36 2016-04-09 18:20:00  ...                              Few Clouds at 1200m
37 2016-04-09 18:50:00  ...                              Few Clouds at 1400m
38 2016-04-09 19:20:00  ...                              Few Clouds at 1200m
39 2016-04-09 19:50:00  ...                            Broken Clouds at 910m
40 2016-04-09 20:20:00  ...                              Few Clouds at 1100m
41 2016-04-09 20:50:00  ...                        Scattered Clouds at 1100m
42 2016-04-09 21:20:00  ...
43 2016-04-09 21:50:00  ...
44 2016-04-09 22:20:00  ...
45 2016-04-09 22:50:00  ...
46 2016-04-09 23:20:00  ...                               Few Clouds at 790m
47 2016-04-09 23:50:00  ...

[48 rows x 10 columns]

In [14]:
range_df = pd.period_range('2017-06-01', '2019-08-02', freq='D').strftime('%Y-%m-%d')
range_df

Index(['2017-06-01', '2017-06-02', '2017-06-03', '2017-06-04', '2017-06-05',
       '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09', '2017-06-10',
       ...
       '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28',
       '2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02'],
      dtype='object', length=793)

In [0]:
def multi_weather(start,end):
    """
    Function to generate dates from start end dates.
    After the data-range is generated a webscrape for weather data is performed.
    
    Input:
        start: a start date string like '2019-01-01'
        end:' a end date string like 2019-08-01'
    Output: pandas dataframe with weather data
    """
    range_df = pd.period_range(start, end, freq='D').strftime('%Y-%m-%d')
    columns = ['datetime','t1','t2','wind_dir','hum','dew','pressure','icon','other']
    df=pd.DataFrame(columns=columns)    
    for range_date in (range_df):
        print (range_date)
        #input_date = i
        chunk = london_weather(range_date)
        sleep(0.1)
        df = df.append(chunk, ignore_index=True,sort=True)
        df = df[['datetime','t1','t2','wind_dir','hum','dew','pressure','icon','other']]
    #df.to_csv(f'{TIMEFRAME}/sds_bme/{start}_{end}_sds+bme_sof_{TIMEFRAME}.csv')
    return df

In [17]:
weather_data = multi_weather('2015-01-01', '2015-09-01')

2015-01-01
2015-01-02
2015-01-03
2015-01-04
2015-01-05
2015-01-06
2015-01-07
2015-01-08
2015-01-09
2015-01-10
2015-01-11
2015-01-12
2015-01-13
2015-01-14
2015-01-15
2015-01-16
2015-01-17
2015-01-18
2015-01-19
2015-01-20
2015-01-21
2015-01-22
2015-01-23
2015-01-24
2015-01-25
2015-01-26
2015-01-27
2015-01-28
2015-01-29
2015-01-30
2015-01-31
2015-02-01
2015-02-02
2015-02-03
2015-02-04
2015-02-05
2015-02-06
2015-02-07
2015-02-08
2015-02-09
2015-02-10
2015-02-11
2015-02-12
2015-02-13
2015-02-14
2015-02-15
2015-02-16
2015-02-17
2015-02-18
2015-02-19
2015-02-20
2015-02-21
2015-02-22
2015-02-23
2015-02-24
2015-02-25
2015-02-26
2015-02-27
2015-02-28
2015-03-01
2015-03-02
2015-03-03
2015-03-04
2015-03-05
2015-03-06
2015-03-07
2015-03-08
2015-03-09
2015-03-10
2015-03-11
2015-03-12
2015-03-13
2015-03-14
2015-03-15
2015-03-16
2015-03-17
2015-03-18
2015-03-19
2015-03-20
2015-03-21
2015-03-22
2015-03-23
2015-03-24
2015-03-25
2015-03-26
2015-03-27
2015-03-28
2015-03-29
2015-03-30
2015-03-31
2015-04-01
2015-04-02
2015-04-03
2015-04-04
2015-04-05
2015-04-06
2015-04-07
2015-04-08
2015-04-09
2015-04-10
2015-04-11
2015-04-12
2015-04-13
2015-04-14
2015-04-15
2015-04-16
2015-04-17
2015-04-18
2015-04-19
2015-04-20
2015-04-21
2015-04-22
2015-04-23
2015-04-24
2015-04-25
2015-04-26
2015-04-27
2015-04-28
2015-04-29
2015-04-30
2015-05-01
2015-05-02
2015-05-03
2015-05-04
2015-05-05
2015-05-06
2015-05-07
2015-05-08
2015-05-09
2015-05-10
2015-05-11
2015-05-12
2015-05-13
2015-05-14
2015-05-15
2015-05-16
2015-05-17
2015-05-18
2015-05-19
2015-05-20
2015-05-21
2015-05-22
2015-05-23
2015-05-24
2015-05-25
2015-05-26
2015-05-27
2015-05-28
2015-05-29
2015-05-30
2015-05-31
2015-06-01
2015-06-02
2015-06-03
2015-06-04
2015-06-05
2015-06-06
2015-06-07
2015-06-08
2015-06-09
2015-06-10
2015-06-11
2015-06-12
2015-06-13
2015-06-14
2015-06-15
2015-06-16
2015-06-17
2015-06-18
2015-06-19
2015-06-20
2015-06-21
2015-06-22
2015-06-23
2015-06-24
2015-06-25
2015-06-26
2015-06-27
2015-06-28
2015-06-29
2015-06-30
2015-07-01
2015-07-02
2015-07-03
2015-07-04
2015-07-05
2015-07-06
2015-07-07
2015-07-08
2015-07-09
2015-07-10
2015-07-11
2015-07-12
2015-07-13
2015-07-14
2015-07-15
2015-07-16
2015-07-17
2015-07-18
2015-07-19
2015-07-20
2015-07-21
2015-07-22
2015-07-23
2015-07-24
2015-07-25
2015-07-26
2015-07-27
2015-07-28
2015-07-29
2015-07-30
2015-07-31
2015-08-01
2015-08-02
2015-08-03
2015-08-04
2015-08-05
2015-08-06
2015-08-07
2015-08-08
2015-08-09
2015-08-10
2015-08-11
2015-08-12
2015-08-13
2015-08-14
2015-08-15
2015-08-16
2015-08-17
2015-08-18
2015-08-19
2015-08-20
2015-08-21
2015-08-22
2015-08-23
2015-08-24
2015-08-25
2015-08-26
2015-08-27
2015-08-28
2015-08-29
2015-08-30
2015-08-31
2015-09-01

In [0]:
weather_data.to_csv('test.csv')

In [19]:
weather_data.tail()

                 datetime    t1    t2  ...  pressure icon other
11528 2015-09-01 21:50:00  14°C  14°C  ...  1018.0mb    1
11529 2015-09-01 22:20:00  14°C  14°C  ...  1019.0mb    1
11530 2015-09-01 22:50:00  14°C  14°C  ...  1019.0mb    1
11531 2015-09-01 23:20:00  14°C  14°C  ...  1019.0mb    1
11532 2015-09-01 23:50:00  14°C  14°C  ...  1019.0mb    1

[5 rows x 9 columns]

In [0]:
clean_data = cleaning(weather_data)

In [21]:
clean_data.tail()

                 datetime  t1  t2 hum  ... icon wind_dir_deg wind_speed other
11528 2015-09-01 21:50:00  14  14  88  ...    1          NaN          6
11529 2015-09-01 22:20:00  14  14  88  ...    1          NaN          6
11530 2015-09-01 22:50:00  14  14  88  ...    1          220          6
11531 2015-09-01 23:20:00  14  14  88  ...    1          250          6
11532 2015-09-01 23:50:00  14  14  88  ...    1          220          7

[5 rows x 10 columns]

In [0]:
clean_data.to_csv('London_weather-2015-2019.csv')